
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.container ul li {
    padding: 0.5rem;
}